############################
# Build
############################
bin/
obj/

############################
# VS Code
############################
.vscode/

############################
# Rider
############################
.idea/

############################
# macOS
############################
.DS_Store

############################
# Logs
############################
*.log

############################
# User Files
############################
*.user
*.suo

############################
# Publish
############################
publish/

############################
# Secrets
############################
appsettings.Development.json
secrets.json